[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
python-dotenv = "*"
mypy = "*"
flake8 = "*"
pytest-mock = "*"
click = "*"
pytest-dotenv = "*"
autopep8 = "*"
requests = "*"

[packages]
sqlalchemy = "*"
inject = "*"
dataclasses-json = "*"
psycopg2 = "*"
alembic = "*"
hex = {editable = true,path = "."}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[requires]
python_version = "3.9"
